<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mvvm.module_compose">

    <application>
        <activity
            android:name=".ComPoseActivity"
            tools:ignore="WrongManifestParent" />
        <activity android:name=".CreateWalletActivity"/>
        <activity android:name=".MnemonicBackupActivity"/>
        <activity android:name=".MnemonicVerifyActivity"/>
        <activity android:name=".WalletMainActivity"/>
        <activity android:name=".WalletCreatedSuccessActivity"/>
        <activity android:name=".splash.WalletSplashActivity"/>
        <activity android:name=".WalletImportActivity"/>
        <activity android:name=".WalletSettingsActivity"/>

    </application>
</manifest>